@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "walk";
  src: url("../public/iran/ttf/IRANSansWeb.ttf");
}

*{
  font-family: walk;
  font-size: 98%;
}
body{
  direction: rtl;
}
.swiper-pagination {
  bottom: -5px !important;
}
.swiper-wrapper {
  padding-bottom: 20px;
}
input{
  @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40;
}

